@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <iframe width="760" height="515" src="https://www.youtube.com/embed/o0l_0HJZDug?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>



<div class="row">
    <p></p>
    <div class="col-md-4">
        <p>
            <a href="/Category/Details/5" title="Dapper Dog">
                <img alt="Costume" src="@Url.Content("~/Content/imgs/dd1.jpg")">
            </a>
        </p>
    </div>
    <div class="col-md-4">

        <p>
            <a href="/Category/Details/3" title="Dapper Dog">
                <img alt="Accessories" src="@Url.Content("~/Content/imgs/dd2.jpg")">
            </a>
        </p>

    </div>
    <div class="col-md-4">

        <p>
            <a href="/Category/Details/1" title="Dapper Dog">
                <img alt="Clothing" src="@Url.Content("~/Content/imgs/dd3.jpg")">
            </a>
        </p>

    </div>
</div>

